<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <DesktopBuildPackageLocation>D:\Projects\1stream\publish\1stream.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>1stream</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\OneStream.Models.OneStreamContext.mdf;Initial Catalog=OneStream;Integrated Security=True" Name="Data Source=(LocalDb)\v11.0;Initial Catalog=OneStream;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\OneStream.Models.OneStreamContext.mdf" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="OneStream.Models.OneStreamContext, OneStream" MigrationConfiguration="OneStream.Migrations.Configuration, OneStream" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=(LocalDb)\v11.0;Initial Catalog=OneStream;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\OneStream.Models.OneStreamContext.mdf</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>