@model OneStream.Models.UserInfo

@{
    ViewBag.Title = "UserInfo";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@ViewBag.Title</legend>

        @Html.HiddenFor(model => model.UserId)
		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}