@model IEnumerable<OneStream.Models.UserInfo>

@{
    ViewBag.Title = "Users List";
}

<div id="portfolio" class="portfolio_page">
    <div class="container">
        <!-- header -->
        <h2 class="section_header left">
            <span>@ViewBag.Title
                <small></small>
            </span>
            <hr class="right visible-desktop">
        </h2>
        <p>
            @Html.ActionLink("Create New", "Create", null, new {@class="btn"})
        </p>

        @{
            var grid = new WebGrid(Model, defaultSort: "FirstName");
        }
        @grid.GetHtml(columns: grid.Columns(
                        grid.Column("FirstName"),
                        grid.Column("LastName"),
                        grid.Column("Email"),
                        grid.Column("Balance"),
                        grid.Column(header: "Actions", format: (item) => 
                            new HtmlString(
                                Html.ActionLink("Edit", "Edit", new { id = item.UserId } ).ToString() + " | " +
                                Html.ActionLink("Delete", "Delete", new { id = item.UserId } ))
                            )
                        ))
    </div>
</div>