@model OneStream.Models.Broadcast

@{
    ViewBag.Title = "Create Broadcast";
}
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@ViewBag.Title</legend>
        @Html.Partial("_CreateOrEdit", Model)
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


