@if (Request.IsAuthenticated)
{
    <li>
    <span>
    @Html.ActionLink(User.Identity.Name, "Manage", "Account", null, new { title = "Manage" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </span>
    </li>
}
else
{
    <li>@Html.ActionLink("Sign up", "Register", "Account", null, new { id = "registerLink", @class = "btn-header" })</li>
    <li>@Html.ActionLink("Log in", "Login", "Account", null, new { id = "loginLink", @class = "btn-header" })</li>
}
